.col-md-9
  - @recipes.each do |recipe|
    %article{ style: 'margin-top: 24px' }
      %header
        .float-right
          = link_to 'Edit', edit_recipe_path(recipe)
          = link_to 'Destroy', recipe, method: :delete, data: { confirm: 'Are you sure?' }
        %h2= link_to recipe.name, recipe
        %h5
          Tratamineto para:
          = recipe.disease.name
      %section.row
        .col-md-4
          %figure
            = image_tag recipe.picture, style: 'width:200px'
        .col-md-8
          %p= recipe.description