= form_for(appointment) do |f|
  - if appointment.errors.any?
    #error_explanation
      %h2
        = pluralize(appointment.errors.count, "error")
        prohibited this appointment from being saved:
      %ul
        - appointment.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :patient_id
    = f.number_field :patient_id
  .field
    = f.label :doctor_id
    = f.number_field :doctor_id
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :start_time
    = f.datetime_select :start_time
  .field
    = f.label :end_time
    = f.datetime_select :end_time
  .actions
    = f.submit
