= simple_form_for(appointment) do |f|
  = f.input :doctor_id, as: :select, collection: User.where(doctor: true).all, label_method: -> (u) { u.profile.name }
  .field
    = f.input :name
  .field
    = f.input :start_time, as: :date
  .field
    = f.input :end_time, as: :date
  .actions
    = f.submit
