.row
  .col-12
  %p#notice= notice
  %p
    %strong Patient:
    = User.find(@appointment.patient_id).profile.name
  %p
    %strong Doctor:
    = User.find(@appointment.doctor_id).profile.name
  %p
    %strong Name:
    = @appointment.name
  %p
    %strong Start time:
    = l @appointment.start_time, format: :long
  %p
    %strong End time:
    = l @appointment.end_time, format: :long
%br
%br
  = link_to 'Edit', edit_appointment_path(@appointment)
  |
  \#{link_to 'Back', appointments_path}
