= form_for(medicament) do |f|
  - if medicament.errors.any?
    #error_explanation
      %h2
        = pluralize(medicament.errors.count, "error")
        prohibited this medicament from being saved:
      %ul
        - medicament.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :name, 'Nombre'
    = f.text_field :name
  .field
    = f.label :description, 'Descripción'
    = f.text_field :description
  .field
    = f.label :brand, 'Marca'
    = f.text_field :brand
  .field
    = f.label :price, 'Precio'
    = f.text_field :price
  .field
    = f.label :disease, 'Enfermedad'
    = f.collection_select :disease_id, Disease.all, :id, :name, prompt: true
  .actions
    = f.submit 'Guardar', class: 'btn btn-success'
