<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @medicament.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @medicament.description %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @medicament.brand %>
</p>

<p>
  <strong>Price:</strong>
  <%= @medicament.price %>
</p>

<p>
  <strong>Disease:</strong>
  <%= @medicament.disease %>
</p>

<%= link_to 'Edit', edit_medicament_path(@medicament) %> |
<%= link_to 'Back', medicaments_path %>
